img.about {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}

.proj-label {
  font-weight: bold;
}

/* changing the font color for bootstrap nav tabs */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #37801E; /* darker green */
}

.nav-tabs > li > a {
  color: #4DB729; /* green */
}

.res-title {
  font-weight: bold;
  color: #37801E;
}
