html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom left, #7EB676, transparent 20%);
  background-repeat: no-repeat;
  font-family: helvetica;
  color: #4F4F4F;
}

h1 a {
  color: #4F4F4F;
}

h1 a:hover {
  text-decoration: none;
  color: #4F4F4F;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid green;
  padding-bottom: 5px;
}

a {
  color: #37A512;
}

a:hover {
  text-decoration: none;
  color: #005A31;
}

img.about {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin-left: 15px;
  margin-bottom: 15px;
}

img.top {
  float:right;
}

img.bottom {
  float:left;
}

.proj-label {
  font-weight: bold;
  font-style: italic;
}

.project {
  width: 30%;
  min-width: 250px;
  float: left;
  margin: 10px;
}

.project-parent {
  display: flex;
  flex-wrap: wrap;
}

/* changing the font color for bootstrap nav tabs */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #005A31; /* darker green */
}

.nav-tabs > li > a {
  color: #37A512; /* green */
}


.res-title {
  font-weight: bold;
  color: #005A31;
}

.date {
  text-align: right;
}

/* media queries */
@media all and (max-width: 480px) {
  h1, h2 {
    text-align: center;
  }

  .nav-tabs > li {
    float:none;
    display:inline-block;
  }

  .nav-tabs {
    text-align:center;
  }

  .project-parent {
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .project-parent {
    justify-content: center;
  }
}
