h1 a {
  color: #333;
}

h1 a:hover {
  text-decoration: none;
  color: #333;
}

h1 {
  margin-bottom: 20px;
}

img.about {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  float:left;
}

.proj-label {
  font-weight: bold;
}

.project {
  width: 30%;
  min-width: 250px;
  float: left;
  margin: 10px;
}

.project-parent {
  display: flex;
  flex-wrap: wrap;
}

/* changing the font color for bootstrap nav tabs */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #005A31; /* darker green */
}

.nav-tabs > li > a {
  color: #A8CD1B; /* green */
}


.res-title {
  font-weight: bold;
  color: #005A31;
}

.date {
  text-align: right;
}

/* media queries */
@media all and (max-width: 480px) {
  h1, h2 {
    text-align: center;
  }

  .nav-tabs > li {
    float:none;
    display:inline-block;
  }

  .nav-tabs {
    text-align:center;
  }

}
